<div class="db-form-next-container">
  <div class="db-form-next-container1"><h1>{{ heading5 }}</h1></div>
  <div class="db-form-next-container2">
    <h5>{{ heading1 }}</h5>
    <input
      type="text"
      [attr.placeholder]="textinputPlaceholder1"
      class="input"
    />
  </div>
  <div class="db-form-next-container3">
    <h5>{{ heading }}</h5>
    <input
      type="text"
      [attr.placeholder]="textinputPlaceholder"
      class="input"
    />
  </div>
  <div class="db-form-next-container4">
    <h5>{{ heading2 }}</h5>
    <input
      type="text"
      [attr.placeholder]="textinputPlaceholder2"
      class="input"
    />
  </div>
  <div class="db-form-next-container5">
    <h5>{{ heading3 }}</h5>
    <select size="5">
      <option value="Option 1">Option 1</option>
      <option value="Option 2">Option 2</option>
      <option value="Option 3">Option 3</option>
    </select>
  </div>
  <div class="db-form-next-container6">
    <h5>{{ heading4 }}</h5>
    <textarea
      [attr.placeholder]="textareaPlaceholder"
      class="textarea"
    ></textarea>
  </div>
  <div class="db-form-next-container7">
    <button type="button" class="button">{{ button }}</button>
  </div>
  <div class="db-form-next-container8">
    <button type="button" class="button">{{ button1 }}</button>
  </div>
</div>
