<div class="home-hero31-header9">
  <img
    [attr.alt]="image1Alt"
    [attr.src]="image1Src"
    class="thq-img-ratio-16-9"
  />
  <div class="home-hero31-content thq-section-padding">
    <div class="home-hero31-max-width thq-flex-row thq-section-max-width">
      <div class="home-hero31-column">
        <h1 class="thq-heading-1 home-hero31-text">{{ heading1 }}</h1>
      </div>
      <div class="home-hero31-column1">
        <p class="thq-body-large home-hero31-text1">{{ content1 }}</p>
        <div class="home-hero31-actions"></div>
      </div>
    </div>
  </div>
</div>
