<div class="home-container">
  <div class="home-navbar1"><home-navbar4></home-navbar4></div>
  <div class="home-hero2"><app-dashboardhero3></app-dashboardhero3></div>
  <div class="home-logos3"><home-logos1></home-logos1></div>
  <div class="home-gallery4"><home-gallery1></home-gallery1></div>
  <div class="home-features5"><home-features17></home-features17></div>
  <div class="home-features6"><home-features18></home-features18></div>
  <div class="home-features7"><home-features171></home-features171></div>
  <div class="home-cta8"></div>
  <div class="home-faq9"><home-faq1></home-faq1></div>
  <div class="home-contact10"><home-contact4></home-contact4></div>
  <div class="home-footer11"></div>
</div>
